
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Varela+Round&display=swap');
body{
    background-color:antiquewhite;
}
*{
    margin: 0;
    padding: 0;
}
nav{
   font-family: "Ubuntu", sans-serif;;
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height:60px;
    background-color: black;
    color:white;
}
nav ul li{
    padding : 0px 12px;
}
.brand img{
    width:44px;
    Padding: 0 8px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}
.container{
    min-height: 65vh;
    /* vh means percent hi hoti hai */
    background-color: pink;
    color:white;
    font-family: 'varela Round', sans-serif;
    display:flex;
    margin: 18px auto;  
    /* auto means ki vo center par aa jayega */
    width:70%;
    border-radius: 9px;
    padding:20px;
    background-image: url('bg.jpg') ;
    background-repeat:no-repeat;
    background-size:100% 100%;
    
}
.songList h1{
    font-size: 1.3rem;
}
.bottom{
    position:sticky;
    height:70px;
    background-color: black;
    color:white;
    bottom:0;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.icons{
    margin-top: 10px;
}
.icons i{
    cursor: pointer;
}
#myProgressBar{
    Width: 80vw;
    text-align: center;
    cursor:pointer;
}
.songItemContainer{
    margin-top:74px;

}
.songItem{
  height:50px;
  display:flex;
  background-color: white;
  
  color:black;
  margin: 12px 0;
  justify-content: space-between;
  align-items: center;
  border-radius: 28px;
}
.songItem img{
   width:43px;
   margin: 0 12px;
   border-radius:28px;
}
.timestamp{
    margin: 0 12px;
   
}
.timestamp i{
    cursor:pointer;
}
.songInfo{
    position:absolute;
    left:9.2vw;
    font-family: 'varela Round', sans-serif;
}
.songInfo img{
    opacity:0;
    transition: opacity 0.4s ease-in;
}